.page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-main);
  overflow: hidden;
}

/* Base de los Degradados (Glow Effect) */
.page__glow {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.4;
  pointer-events: none;
  z-index: 0;
}

/* Mancha de luz superior */
.page__glow_position_top {
  top: -100px;
  left: calc(10% - 200px);
  width: 500px;
  height: 500px;
  background: radial-gradient(
    circle,
    var(--color-accent) 0%,
    rgba(109, 109, 255, 0) 70%
  );
}

/* Mancha de luz inferior  */
.page__glow_position_bottom {
  bottom: -100px;
  right: calc(5% - 200px);
  width: 600px;
  height: 600px;
  background: radial-gradient(
    circle,
    var(--color-accent) 0%,
    rgba(109, 109, 255, 0) 70%
  );
}

/* Contenedor centralizado del contenido */
.page__content {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--container-padding-desktop);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* Empuja el footer al fondo si hay poco contenido */
  width: 100%;
}

/* AJUSTES RESPONSIVOS BASE (BREAKPOINTS)*/

/* Tablet (hasta 1023px) */
@media (max-width: 1023px) {
  .page__content {
    padding: var(--container-padding-tablet);
  }
}

/* Móvil (hasta 767px) */
@media (max-width: 767px) {
  .page__content {
    padding: var(--container-padding-mobile);
  }

  .page__glow {
    width: 350px;
    height: 350px;
    filter: blur(70px);
  }
}
